[submodule "external/librobotcontrol"]
	path = external/librobotcontrol
	url = git@github.com:beagleboard/librobotcontrol.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "external/eigen"]
	path = external/eigen
	url = git@gitlab.com:libeigen/eigen.git
[submodule "external/HTTPRequest"]
	path = external/HTTPRequest
	url = git@github.com:elnormous/HTTPRequest.git
[submodule "external/googletest"]
	path = external/googletest
	url = git@github.com:google/googletest.git
[submodule "external/redis-plus-plus"]
	path = external/redis-plus-plus
	url = https://github.com/sewenew/redis-plus-plus.git
[submodule "external/mavlink"]
	path = external/mavlink
	url = https://github.com/mavlink/c_library_v2.git
