<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/config.css" />
    <link rel="stylesheet" href="css/index.css" />
    <title>Document</title>
</head>

<body>
  <div class="navbar">
    <div class="container">
      <a class="logo" href="/">fly<span>MS</span></a>

      <img
        id="mobile-cta"
        class="mobile-menu"
        src="images/menu.svg"
        alt="Open Navigation"
      />

      <nav>
        <img
          id="mobile-exit"
          class="mobile-menu-exit"
          src="images/exit.svg"
          alt="Close Navigation"
        />

        <ul class="primary-nav">
          <li class="current"><a href="/">Home</a></li>
          <li><a href="config_controller.html">Configure Controller</a></li>
          <li><a href="config_setpoint.html">Configure Setpoint</a></li>
          <li><a href="calibration.html">Calibration</a></li>
        </ul>
      </nav>
    </div>
  </div>


  <section class="homepage_hero">
    <div class="homepage_hero">

      <h1>Welcome to fly<span>MS</span>!</h1>
      <p>Here, you can do the following:!</p>
      <ul>
        <li>Configure the PID constants</li>
        <li>Configure Setpoint parameters</li>
        <li>Calibrate ESCs</li>
        <li>Calibrate Gyroscope</li>
        <li>Calibrate Accelerometer</li>
        <li>Calibrate Magnetometer</li>
      </ul>
    </div>

  </section>

  <img class="image" src="images/drone.png" alt="drone icon">

  <script src="js/nav.js"></script>
</body>

</html>
