
<div class="navbar">
  <div class="container">
    <a class="logo" href="/">fly<span>MS</span></a>

    <img
      id="mobile-cta"
      class="mobile-menu"
      src="images/menu.svg"
      alt="Open Navigation"
    />

    <nav>
      <img
        id="mobile-exit"
        class="mobile-menu-exit"
        src="images/exit.svg"
        alt="Close Navigation"
      />

      <ul class="primary-nav">
        <li class="current"><a href="/">Home</a></li>
        <li><a href="config.html">Configure</a></li>
      </ul>
    </nav>
  </div>
</div>
