[Unit]
Description=flyMS_webserver
After=network.target robotcontrol.service pruHandler.service

[Service]
User=debian
Restart=always
PIDFile=/var/run/flyMS.pid
ExecStart=python3 /home/debian/bin/flyMS_webserver.py

[Install]
WantedBy=multi-user.target
