[Unit]
Description=flyMS
After=network.target robotcontrol.service pruHandler.service

[Service]
User=root
Restart=always
PIDFile=/var/run/flyMS.pid
ExecStart=/home/debian/bin/flyMS -c /home/debian/flyMSConfig.yaml

[Install]
WantedBy=multi-user.target
