[Unit]
Description=flyMS
After=network.target robotcontrol.service PruManager.service flyMS_webserver.service generic-board-startup.service redis.service mem_permissions.service

[Service]
User=debian
Restart=always
PIDFile=/var/run/flyMS.pid
ExecStart=/home/debian/bin/flyMS

[Install]
WantedBy=multi-user.target
