[Unit]
Description=flyMS
After=network.target robotcontrol.service pruHandler.service

[Service]
User=debian
Restart=always
PIDFile=/var/run/flyMS.pid
ExecStart=/home/debian/bin/flyMS_app

[Install]
WantedBy=multi-user.target
