[Unit]
Description=pru_handler
Requires=systemd-modules-load.service
After=network.target robotcontrol.service dbus-org.freedesktop.Avahi.service

[Service]
Type=simple
PIDFile=/var/run/pru_handler.pid
User=root
ExecStart=/home/debian/bin/pru_handler_app

[Install]
WantedBy=multi-user.target
