Description=redis
Requires=systemd-modules-load.service
After=network.target robotcontrol.service dbus-org.freedesktop.Avahi.service docker.service

[Service]
Type=simple
PIDFile=/var/run/redis.pid
User=debian
ExecStart=docker run --name redis -d -p 127.0.0.1:6379:6379 --restart unless-stopped arm32v7/redis:6.0.16 --appendonly yes --maxmemory 512mb --tcp-backlog 128


[Install]
WantedBy=multi-user.target
